* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body, *, html {

}


html,
body {
    background-color: white;
    color: black;
    font-family:'helveticaNeue', 'Open Sans', sans-serif;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
}

.row {
    max-width: 1300px;
    margin: 0 auto;

}

header {
    background: url(elements/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    height: 100vh;
}

h1,h2,h3 {
    font-weight: 300;
}
h1 {
    margin-top: 0;
    margin-bottom: 0px;
    color: #0091ff;
    font-size: 40px;
    font-weight: 400;
    letter-spacing: normal;
    font-family: 'Work Sans', sans-serif;
}

.fila {
      margin-top: 0;
    margin-bottom: 0px;
    color: #0091ff;
    word-spacing: 4px;
    font-size: 250%;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: 'Work Sans', sans-serif;
}

h2 {
    font-size: 180%;
    margin-bottom: 30px;
    text-align: center;
    word-spacing: 2px;
    letter-spacing: 1px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    margin-bottom: 5px;
    font-family: 'helveticaNeue', sans-serif;
    font-size: 90%;
    color: #ffffff;
}
h4{
    text-transform: uppercase;
    font-size: 50%;
    text-align: center;
    margin-left: -800px;
    font-family: 'helveticaNeue', sans-serif;
    font-weight: bold;
    color: #1f222b;
}

.line {
  width: 20px;
  height: 1px;
  border: solid 1px #000000;

}



.hero-text-box {
    position: absolute;
    width: 1140px;
    margin-top: 218px;
}

.product {
    width: 504px;
    height: 100px;
    border-left-color: #0091ff;
    border-left-width: 2px;
    border-left-style: solid;
    margin-left: 0px;
    font-family: 'Work sans', sans-serif;
    padding: 8px 0px 8px 20px;
    font-weight: 200;
    margin-top: 30px;
    font-size: 18px;
    color: #000000;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
}

.main-nav {
    float: right;
    text-align: center;
    list-style: none;
    margin-top: 55px;
    margin-right: 450px;

}

.main-nav li {
    display: inline-block;
    margin-left: 40px;

}

.main-nav li a:link,
.main-nav li a:visited{
    padding: 6px 0;
    color: #8c8d91;
    font-family: 'Open Sans',sans-serif;
    font-weight: 600;
    text-decoration: none;
    font-size: 66%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 1s;
    transition: border-bottom 1s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid #0091ff;
}

.logo {
    height: 42px;
    width: auto;
    float: left;
    margin-top: 45px;
}

.mad{
   padding: 0px 40px;
}

.overlay{
    position: absolute;
    z-index:5;
    top: 40%;
    left: 75%;
    transform: translate(-50%, -50%);
}

.overlay1 {
    position: absolute;
    z-index:5;
    top: 52%;
    left: 76%;
    transform: translate(-50%, -50%);

}
.overlay img {

}
.elements {
    top: 45%;
    left: 75%;
    position: absolute;
    transform: translate(-50%, -50%);
    z-index: 10;
    transition-duration: 50ms;

}

.text2 {
    margin-left: 5px;
    text-decoration: underline;
    text-decoration-color: rgba(0, 145, 255, 0.2);
    font-size: 60px;
    font-weight: 300;
    font-family: "Work sans", sans-serif;
}

.caption{
  font-size: 60px;
  font-weight: 300;
  font-family: "Work sans", sans-serif;
}
.caption span{
  background: rgb(0, 145, 255, 0.1)
}

.light {
    font-weight: 200;
}

.text1 {
    text-align: center;
    margin-left: -140px;
    letter-spacing: normal;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    color: #8c8d91;
    font-size: 100.5%;

}

.talk{
    position: absolute;
    margin-top: 45px;
    margin-left: 980px;
    background-color: #0091ff;
    padding: 15px 30px;
    color: white;
    font-size: 80%;
    font-weight: 500;
    font-family: 'Work Sans', sans-serif;

}

.row a{
    text-decoration: none;
}
.mobile-navi-icon {
    position: absolute;
    margin-top: 43px;
    margin-left: 1020px;
    font-size: 150%;
}

.icon_sect {
    display: flex;
    background: #fff;
    padding: 10px;
    flex-direction: column;
    position: fixed;
    text-align: end;
    bottom: 40px;
    right: 0px;
}

.icons {
    margin-top: 20px;
    color: #000;
    font-size: 12px;
}

.sect_about {
  width: 100%;
}

.sect_about .container-r .title{
  padding-top: 109px;
}
.sect_about .container-r {
  padding-bottom: 109px;
}

.sub-title{
  margin-left: 50px;
  margin-top: 18px;
  font-size: 30px;
  font-family: "Work sans", sans-serif;
}

.create {
    width: 40%;
    padding: 20px 0px 0 165px;
    float: left;

}

.create p {
    font-family: 'Open Sans', sans-serif;
    font-size: 155%;
    font-weight: 600;
    margin-left: 25px;
}

.create_res {
    width: 60%;
    float: left;
    padding: 20px 170px 20px 0px;
}

.result{
    font-family: 'Open Sans', sans-serif;
    font-size: 90%;
    font-weight: 300;
    line-height: 1.72;
    color: #1f222b;
    margin-left: 20px;
}

.read {
    margin-top: 40px;
    height: 55px;
    margin-left: 20px;
    background-color: #0091ff;
    color:white;
    border: 1px solid #0091ff;
    width: 215px;
    padding: 20px 0px 20px 50px;
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 70%;
    font-weight: bold;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.read:hover,
.read:active {
    background-color: #ffffff;
    color: black;
    border:1px solid #0091ff;
}

.plus {
    margin-left: 25px;
}

.build {
    padding: 40px 80px 70px 80px;
}

.brandB,
.brandD,
.brandA,
.brandS {
    width: 44px;
    height: 44px;
    padding: 12px 12px 12px 16px;
    color: white;
    font-family: 'HelveticaNeue', sans-serif;

}

.brandB {
    box-shadow: 4px 7px 10px 0 rgba(68, 215, 182, 0.37);
    background-image: linear-gradient(to bottom, #79eddc, #44d7b6);
}

.brandD {
    box-shadow: 4px 7px 10px 0 rgba(0, 145, 255, 0.33);
    background-image: linear-gradient(to bottom, #0091ff 0%, #1461e2);
}

.brandA {
    box-shadow: 4px 7px 10px 0 rgba(109, 212, 0, 0.4);
    background-image: linear-gradient(to bottom, #a6ec00, #6dd400);
}

.brandS {
    box-shadow: 4px 7px 10px 0 rgba(247, 181, 0, 0.38);
    background-image: linear-gradient(to bottom, #fcdb00, #f7b500);
}

.brand_text {
    position: absolute;
    margin-top: -32px;
    margin-left: 58px;
    font-family: 'HelveticaNeue', sans-serif;
    font-size: 80%;
    font-weight: bold;
    color: #394247;
}

.box {
    margin-left: 30px;
    padding-left: 50px;
}


.list {
    margin-left: 20px;
    margin-top: 25px;
}
.list li {
    margin-bottom: 15px;
    font-family: 'Open Sans', sans-serif;
    font-size: 80%;
    font-weight: 300;
}

.sect_work {
    background-color: #000000;
    padding: 85px 110px 70px 110px;
}

.work_text {
    font-family: 'OpenSans', sans-serif;
    font-size: 170%;
    font-weight: 400;
    margin-left: 120px;
    margin-top: 30px;
    color: white;
}

.work {
    margin-top: 40px;
}


.image{
    margin: 0;
    height: 360px;
    width: 100%;
    overflow: hidden;
    background-color: black;
}
.image img{
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    opacity: 0.8;
}

.image img:hover {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}


.image2 img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: -webkit-transform 0.8s;
    transition: -webkit-transform 0.8s;
    transition: transform 0.8s;
    transition: transform 0.8s, -webkit-transform 0.8s;
    opacity: 0.8;
}

.image2 {
    margin: 0;
    width: 100%;
    height: 360px;
    overflow: hidden;
    background-color: black;
}

.image2 img:hover {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

.work2 {
     margin-top: 3px;
}
.work3 {
    margin-top: 3px;
    margin-bottom: 50px;
}
.more {
    background-color: #ffffff;
    color:black;
    width: 106px;
    height: 56px;
    font-family: 'Work Sans', sans-serif;
    font-size: 75%;
    font-weight: bold;
    border-color: black;
    margin-left: 435px;
    border: black;
    border-width: thin;
    border-style: solid;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.more1 {
    background-color: #ffffff;
    color:black;
    width: 56px;
    height: 56px;
    font-size: 75%;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    border-color: black;
    border: black;
    border-width: thin;
    border-style: solid;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.more:hover {
    background-color: #0091ff;
    color: white;
}

.idea1:hover {
    background-color: #ffffff;
    color: black;
}

#plus {
    margin-left: -5px;
}

.idea1 {
    background-color: #0091ff;
    color:white;
    width: 160px;
    height: 74px;
    font-family: 'Work Sans', sans-serif;
    font-size: 115%;
    border-color: #0091ff;
    border: #0091ff;
    border-right-color: white;
    border-width: thin;
    border-style: solid;
    margin-top: 30px;
    transition: background-color 0.2s, color 0.2s, border 0.2s;
}

.idea2 {
    background-color: #0091ff;
    color:white;
    width: 56px;
    height: 74px;
    font-size: 115%;
    font-family: 'Work Sans', sans-serif;
    border-color: #0091ff;
    border: #0091ff;
    border-width: thin;
    border-style: solid;
}

.sect_work a {
    text-decoration: none;
}

.address {
    width: 40%;
    background-color: #0091ff;
    height: 514px;
}

.map {
    width: 60%;
}

.map img{
    width: 100%;
    height: 550px;
    object-fit: cover;

}
.add {
    display: flex;
    height: 550px;
}

.address {
    padding: 50px 0;
}
.address h4 {
    margin-top: 50px;
}

.address h4:first-child {
    margin-top: 70px;
}

.address p {
    margin-left: 170px;
    font-size: 80%;
    margin-top: 20px;
    color: #ffffff;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
}


footer {
    padding: 50px;
    background-color: #ffffff;
    font-size: 80%;

}

footer p {
    color: #1f222b;;
    text-align: center;
    opacity: 0.5;
    font-weight: 600;
    letter-spacing: 1.5px;
}


.nav-links {
    float: left;
    margin-left: 80px;
    list-style: none;
}


.nav-links li{
    display: inline-block;
    margin-right: 50px;
    text-transform: uppercase;
    font-size: 80%;
    color: #1f222b;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links li a:link,
.nav-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #1f222b;
    font-weight: 600;
    letter-spacing: 1.5px;
    opacity: 0.5;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.nav-links li a:hover,
.nav-links li a:active {
    color: #0091ff;
}

.copy{
    font-size: 80%;
    color: #1f222b;
}


/*.soco {  border-right: .05em solid;  animation: caret 1s steps(1) infinite;}
@keyframes caret {  50% {    border-color: transparent;  }}*/


.sect-recog {
    background-color: #f9f9f9;
    padding: 20px;
}

.colab {
    display: flex;
    padding: 30px 120px;
    flex-direction: row;

}

.des{
    height: 60px;
    width: 210px;
    object-fit: contain;
    background-color: #f9f9f9;
}

.des1{
    height: 60px;
    width: 213px;
    object-fit: contain;
    background-color: #f9f9f9;
    margin-left: 40px;
}

.des2 {
    height: 60px;
    width: 157px;
    object-fit: contain;
    background-color: #f9f9f9;
    margin-left: 40px;
}

.des3 {
    height: 60px;
    width: 60px;
    object-fit: contain;
    background-color: #f9f9f9;
    margin-left: 40px;
}

.des4 {
    height: 60px;
    width: 209px;
    object-fit: contain;
    background-color: #f9f9f9;
    margin-left: 40px;
}

.synx p {
    font-family: 'Work Sans', sans-serif;
    font-size: 187.5%;
    margin-left: 150px;
    margin-top: 20px;
}

.contact {
    width: 100%;
    height: 530px;
    background-image: url(house@3x.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    padding: 150px 200px;
}



.idea {
    display: block;
    text-align: center;
}

.one {
  font-family: 'Work Sans', sans-serif;
  font-size: 250%;
  font-weight: 300;
  text-align: center;
  color: #0091ff;
}

.two {
  font-family: 'Work Sans', sans-serif;
  font-size: 312.5%;
  font-weight: bold;
  text-align: center;
  color: #000000;
}

.idea a {
    text-decoration: none;
}

.us {
    background-color: #0091ff;
    color:white;
    width: 250px;
    padding: 20px;
    font-family: 'Work Sans', sans-serif;
    font-size: 125%;
    border-style: solid;
    margin-top: 40px;
    margin-left: 350px;
}



.cursor {
    width: 20px;
    height: 20px;
    border: 2px solid #979797;
    border-radius: 30%;
    position: absolute;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index: 20;
}



@keyframes cursorAnim {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(.7);
    }
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2.5);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid #0091ff;
}

.madheader{
  width: 100%;
  height: 66px;
  margin: 40px 0px 0px 0px;
}
.maincontainer{
  width: 100%;
  height: 662px;
}
.recognition{
  width: 100%;
  background: #f9f9f9;
  height: 186px;
}
.title{
  padding: 40px 0px 0px 0px;
  margin-left: 50px;
  line-height: 14px;

}
.title span{
  font-size: 14px;
  font-family: "Work sans", sans-serif;
  font-weight: 300;
  padding-left: 20px;
}
.title img{
  vertical-align: middle;
}
.brands{
  width: 1140px;
  height: 60px;
  margin: 30px auto;
}
.brands img{
  vertical-align: middle;
  height: 60px;
  filter: gray;
  -webkit-filter: grayscale(100%);
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
}
.brands img:hover{
  filter: white;
  -webkit-filter: grayscale(0%);
  -webkit-transition: all .6s ease;
  -webkit-backface-visibility: hidden;
}
.brands img:not(:last-child){
    padding-right:42px;
}
.madheader-inner{
  max-width: 1140px;
  height: 66px;
  margin: 0px auto;
}
.container{
  position: relative;
  max-width: 1140px;
  height: 662px;
  margin: 0px auto;
}
.container-r{
  position: relative;
  max-width: 1140px;
  margin: 0px auto;
}
.madlogo{
  width: 135px;
  float: left;
  line-height: 66px;
}
.madlogo-file{
  width: 135px;
  vertical-align: middle;
}
.madlinks{
  width: 234px;
  height: 100px;
  float: right;
}
.madbtn{
    width: 134px;
    height: 66px;
    padding-top: 13px;
    float: left;
}
.madbtn a{
  color: white;
  background: #0091FF;
  display: block;
  padding: 12px 21px;
  font-size: 14px;
  font-family: 'Work Sans', sans-serif;
  text-decoration: none;
}
.madmenu{
  width: 100px;
  line-height: 66px;
  float: right;
}
.madmenu-file{
  width: 30px;
  margin-left: 70px;
  vertical-align: middle;
}
.start{
  margin-top: 30px;
  width: 255px;
}
.start a{
    text-decoration: none;
    display: block;
    width: 255px;
    height: 50px;
}
.linktext{
  width: 180px;
  background: #0091FF;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-family: "Work sans", sans-serif;
  font-weight: 300;
  float: left;
}
.linkarrow{
  height: 50px;
  width: 74px;
  background: #0091FF;
  padding: 14px 20px 0px;
  float: left;
  margin-left: 1px;
}
.scroll{
  margin-top: 72px;
}

@keyframes play240 {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -7680px 0px;
  }
}
.shapeshifter {
  animation-duration: 4000ms;
  animation-timing-function: steps(240);
  width: 32px;
  height: 40px;
  background-repeat: no-repeat;
  animation-iteration-count:infinite;
}
.shapeshifter.play {
  animation-name: play240;
}



.services{
  width:100%;
  height: 265px;
  margin-top: 30px;
}

.service{
  width: 263px;
  height: 100%;
  float:left;
}
.service:not(:last-child){
  margin-right: 29.3px;
}

.heading{
  width: 225px;
  height: 44px;
  margin: 18px 19px;
}
.alphabet{
  background: blue;
  width: 44px;
  height: 44px;
  margin-right: 15px;
  float: left;
  line-height: 44px;
  text-align: center;
}
.alphabet img{
  vertical-align: middle;
  margin: 0px auto;
}
.fullservice{
  float: left;
  line-height: 44px;
  font-family: "Work sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.service-list{
  margin: 30px 18px 0px;
  width: 225px;
}
.service-list p{
  font-family: "Work sans", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #989898;

}
.service-list p:not(:last-child){
  padding-bottom: 14px;
}



#loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #0091ff url('833 (2).gif') no-repeat center;
    z-index: 99999;
}
